<h1>Login</h1>

<form #loginForm = "ngForm" (ngSubmit)="getData(loginForm.value)">
    <input ngModel #email required type="email" name="email" placeholder="email" >
    <br/>
    <span *ngIf="loginForm.controls['email'] && loginForm.controls['email'].invalid && loginForm.controls['email'].touched" style="color:red;">Enter valid email</span>
    <br/><br/>
    <input ngModel #password required type="password" name="password" placeholder="password" >
    <br/>
    <span *ngIf="loginForm.controls['password'] && loginForm.controls['password'].invalid && loginForm.controls['password'].touched" style="color:red;">Enter valid input</span>
    <br/><br/>
    <button [disabled]="loginForm.invalid">Login</button>
</form>