<h2>Events in Angular</h2>

<button (click)="getName('Neel shah')">Click Me</button>

<br /><br />
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />

<br /><br />
<input type="text" #box2 (keydown)="getData(box2.value)" placeholder="event keydown" />

<br /><br />
<input type="text" #box3 (blur)="getData(box3.value)" placeholder="event blur" />

<br /><br />
<input type="text" #box4 (input)="getData(box4.value)" placeholder="event input" />

<h1 (mouseover)="getData('mouse hover')">Mouse hover event</h1>
<router-outlet></router-outlet>

<br /><br />
<h1>Update value on input</h1>
<br /><br />
<input type="text" #boxinput (input)="updateValue(boxinput.value)" placeholder="enter value" />
<p>Entered value is {{displayVal}} </p>


<br /><br />
<h1>Update value on click</h1>
<br /><br />
<input type="text" #boxinput2  placeholder="enter value" />
<button (click)="updateValue(boxinput2.value)">Show</button>

<p>Entered value is {{displayVal}} </p>