<h1>Template driven form</h1>

<form #templateform="ngForm" (ngSubmit)="onSubmit(templateform.value)">
    <input type="text" #name="ngModel" [(ngModel)]="user.name" pattern="[a-zA-Z]+$" required name="name" placeholder="enter username">
    <br/>
    <span *ngIf="name.invalid && name.touched" style="color:red;">Enter valid input</span>
    <br/><br/>
    <input type="password" #password="ngModel" [(ngModel)]="user.password" required minlength="5" name="password" placeholder="enter password">
    <br/>
    <span *ngIf="password.invalid && password.touched" style="color:red;">Enter valid input</span>
    <br/><br/>
    <button [disabled]="templateform.invalid">Submit</button>
</form>

<router-outlet></router-outlet>
